<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d7c2cf6d44.js" crossorigin="anonymous"></script>
    
    <!-- My CSS -->
    <link rel="stylesheet" href="css.css">
    
    <title>Dragicevic | Portfolio</title>

</head>


<body>

    <header>
        <!-- Navbar -->
            <nav class="navbar navbar-dark bg-none fixed-top">
            <!-- toggle button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container justify-content-end">
                    <button class="btn btn-success my-2 mx-4">Contact</button>
                </div>
                <!-- content when collapsed -->
                <div class="navbar-collapse collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#values">Values</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>

        <!--
       <nav class="navbar fixed-top">
            <div class="container justify-content-end">
                <button class="btn btn-success my-2 mx-4">Contact</button>
            </div>    
        </nav>
        -->

    <main>
        <section id="homePage">
            <div class="container text-center text-white">
                <div>
                    <h1 class="display-3 pt-5">Ado Dragicevic</h1>
                    <h3>Full Stack Web Developer</h3>
                </div>
                <div class="container">
                </div>
                <div class="row pt-5 pb-3">
                    <div class="col-1 mr-4 d-none d-md-block"></div>
                    <div class="col-3">
                        <a href="#projects">
                            <div id="navProjects" class="navBox">
                                <h4>Projects</h4>
                                <p>Take a look at a few of my projects . . .</p>
                            </div>
                        </a>  
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-1 mr-4 d-none d-md-block"></div>
                    <div class="col-3">
                        <a href="#skills">
                            <div id="navSkills" class="navBox">
                                <h4>Skills</h4>
                                <p>See how I can help you . . .</p>
                            </div>
                        </a> 
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-1 mr-4 d-none d-md-block"></div>
                    <div class="col-3">
                        <a href="#about">
                            <div id="navAbout" class="navBox">
                                <h4>About</h4>
                                <p>Get to know me better . . .</p>
                            </div>
                        </a> 
                    </div>
                    <div class="col-1 m-0 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-1 mr-4 d-none d-md-block"></div>
                    <div class="col-3">
                        <a href="#values">
                            <div id="navValues" class="navBox">
                                <h4>About</h4>
                                <p>Get to know me better . . .</p>
                            </div>
                        </a> 
                    </div>
                    <div class="col-1 m-0 p-0"></div>
                </div>
            </div>
        </section>

        <section id="projects" class="projects">
            <div class="container-fluid pb-5">
                <h2 class=" text-center px-5 pt-5 display-4"><span><%=</span> Projects <span> %></span></h2> 
            </div>

            <div class="container pt-5">
                <div class="row pb-5">
                    <div class="col-md-6 col-xl-4 mb-5">
						
                        <div class="item">
                            <h3 class="text-center mb-4">Full Stack Blog/Gallery</h3>
                            <ul>
                                <li>SignUp, Login, create posts, update pictures, comment</li>
                                <li>NodeJs, Express, mongoDB, Heroku</li>
                            </ul>
                            <div class="text-center mt-4">
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
                            </div>
                        </div> 
						
                    </div>

                    <div class="col-md-6 col-xl-4 mb-5">
                        <div class="item">
                            <h3 class="text-center mb-4">Hex and Rgb guessing game</h3>
                            <ul>
                                <li>Switch between Hex and Rgb</li>
                                <li>3 difficulties</li>
                                <li>Vanilla JavaScript</li>
                            </ul>
                            <div class="text-center mt-4">
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-6 col-xl-4 mb-5">
                        <div class="item">
                            <h3 class="text-center mb-4">Notes</h3>
                            <ul>
                                <li>Modern Notes app</li>
                                <li>jQuery</li>
                                <li>Semantic UI</li>
                            </ul>
                            <div class="text-center mt-4">
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-6 col-xl-4 mb-5">
                        <div class="item">
                            <h3 class="text-center mb-4">Bootstrapy</h3>
                            <ul>
                                <li>Modern website</li>
                                <li>Bootstrap</li>
                            </ul>
                            <div class="text-center mt-4">
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>              
        </section>

        <section id="skills" class="projects">
            <div class="container-fluid mb-5">
                <h2 class=" text-center px-5 pt-5 display-4"><span>[ </span> Skills <span> ]</span></h2> 
            </div>
            <div class="container p-5">
                <div class="row justify-content-center pb-5">
                    <div class="col-sm-6 col-lg-3 mb-5">
                       <div class="item2">
                            <h2 class="text-center mb-4 pb-4">Frontend</h2>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Bootstrap</li>
                                <li>Semantic UI</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                       <div class="item2">
                            <h2 class="text-center mb-4 pb-4">Backend</h2>
                            <ul>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>NodeJS</li>
                                <li>Express</li>
                                <li>mongoDB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                       <div class="item2">
                            <h2 class="text-center mb-4 pb-4">Other</h2>
                            <ul>
                                <li>Git</li>
                                <li>Heroku</li>
                                <li>APIs</li>
                                <li>Paper.js</li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                       <div class="item2">
                            <h2 class="text-center mb-4 pb-4">Legal</h2>
                            <ul>
                                <li>GDPR</li>
                                <li>ISO 27001</li>
                                <li>ePrivacy</li>
                                <li>EU Law</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <section id="about" class="projects">
            <div class="container-fluid mb-5">
                <h2 class=" text-center px-5 pt-5 display-4"><span> <> </span> About <span> <&#47;> </span></h2> 
            </div>
            <div class="container p-5">
                <div class="row">        
                    <div class="col-md-6 pb-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-6 pb-5">
                        <p id="aboutParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="values" class="projects">
            <div class="container-fluid pb-5">
                <h2 class=" text-center px-5 pt-5 display-4"><span> && </span> Values <span> && </span></h2> 
            </div>
            <h2>Golden Rule: Customer satisfaction</h2>
            <p>I am continually working on developing new skills in order to </p>
        </section>
    </main>



    <footer>
        <nav class="navbar navbar-expand py-0 my-0 justify-content-center">
          <ul class="navbar-nav">    
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fas fa-at"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fas fa-phone-square-alt"></i></a>
            </li>
          </ul>
        </nav>
    </footer>

    


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

    <!-- Simple script to change navbar color when expanded, Ado place this inside a separate js file!!! -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.navbar-dark > button').on('click', function(){
                $('.navbar-dark').toggleClass('color-changed');
            });
        });
    </script>

</body>
</html>