<!doctype html>
<html lang="en">
<head>
	  
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
	
	<!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d7c2cf6d44.js" crossorigin="anonymous"></script>
	
	<!-- My CSS -->
	<link rel="stylesheet" href="/stylesheets/main.css">

    <title>Ado Dragicevic | Portfolio</title>
	
</head>
	

<body>
	
	
	<header>
		
		<nav class="container fixed-top mt-3">
		
			<div class="row">
				
				<div class="col-12 my-2">
					
					<!-- contact button -->
            		<button class="btn btn-success float-right">Contact</button>
					
				</div>
				
			</div>
			
		</nav>
            
	</header>
	
	
	
	<main>
	
		<!-- HOME -->
		<section id="home">
			
			<div class="container">

				<!-- Title -->
				<div class="row">

					<div class="col-12 text-white text-center">

						<h1 class="display-3 pt-5">Ado Dragicevic</h1>

						<h3 class="d-none d-md-block">Full Stack Web Developer</h3>

					</div>

				</div>

				<!-- Landing Page Nav Buttons -->
				<div class="row mt-5">
					
					<!-- projects -->
					<div class="col-12 mt-4">

						<a id="projectsBtn"  class="btn btn-lg btn-light float-left my-2 navBtn" href="#projects">
							
							<h4> Projects <i class="fas fa-folder-open ml-2"></i> </h4>
							
							<p class="d-none d-md-inline"> <small> See some of my projects . . . </small> </p>
								
						</a>
						
					</div>
					
					
					<!-- skills -->
					<div class="col-12">
						
						<a id="skillsBtn"  class="btn btn-lg btn-light float-left my-2 navBtn" href="#skills">
							
							<h4> Skills <i class="fas fa-code ml-2"></i> </h4>
							
							<p class="d-none d-md-inline"> <small> What I can do for you . . . </small> </p>
							
						</a>
						
					</div>
					
					
					<!-- about -->
					<div class="col-12">
						
						<a id="aboutBtn" class="btn btn-lg btn-light float-left my-2 navBtn" href="#about">
							
							<h4> About <i class="fas fa-address-card ml-2"></i> </h4>
							
							<p class="d-none d-md-inline"> <small> Get to know me . . . </small> </p>
							
						</a>
						
					</div>
					
					
					<!-- values -->
					<div class="col-12">
						
						<a id="valuesBtn" class="btn btn-lg btn-light float-left mt-2 mb-5 navBtn" href="#values">
							
							<h4> Values <i class="fas fa-project-diagram ml-2"></i> </h4>
								
							<p class="d-none d-md-inline"> <small> Principles that inspire . . . </small> </p>
							
						</a>
						
					</div>
						
				</div>
			
			</div>
		
		</section>
		
		
		<!-- PROJECTS -->
		<section id="projects">
			
			<!-- Title -->
			<div class="container-fluid mt-5">
				
				<div class="row pb-5">
					
					<div class="col-12">
						
						<h5 class="d-none d-md-block text-center px-5 pt-5 display-4"><span>&lt;%=</span> Projects <span> %&gt;</span></h5> 
						
						<h5 class="d-block d-md-none text-center px-5 pt-5"><span>&lt;%=</span> Projects <span> %&gt;</span></h5> 
						
					</div>
					
				</div>
				
			</div>
			
			<!-- Projects -->
			<div class="container">
			
				<div class="row py-5">
					
					<!-- Intense Traveller -->
					<div class="col-lg-6 col-xl-4 mb-5">
											
						<h6 class="pl-1"> Full Stack </h6>
						
						<div class="project">
							
                            <h3 class="text-center mb-4"> <em> Intense Traveller </em> </h3>
							
                            <ul class="pl-3 text-justify">
								
                                <li>SignUp, create journals, upload pictures, search, comment, like, follow, dark/light mode, profile, link journals with galleries, reset password, etc.</li>
								
								<li>NodeJS, Express, MongoDb, Bootstrap, Javascript, jQuery</li>
								
                            </ul>
							
                            <div class="text-center mt-4">
								
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
								
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
								
                            </div>
                        
						</div> 
						
					</div>
					
					
					<!-- Notes -->
					<div class="col-md-6 col-xl-4 mb-5">
						
						<h6 class="pl-1"> jQuery </h6>
						
						<div class="project">
                            <h3 class="text-center mb-4"> <em> Notes </em> </h3>
                            <ul class="pl-3 text-justify">
                                <li>Create lists, add items to lists, mark items as complete, show/hide completed items, search lists and items, delete; data is stored locally and this is one more sentence</li>
                                <li>jQuery</li>
                            </ul>
                            <div class="text-center mt-4">
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
                            </div>
                        </div> 
						
					</div>
					
					
					<!-- Color Game -->
					<div class="col-md-6 col-xl-4 mb-5">
						
						<h6 class="pl-1"> JavaScript </h6>
						
						<div class="project">
							
                            <h3 class="text-center mb-4"> <em> Color Game </em> </h3>
							
                            <ul class="pl-3 text-justify">
								
                                <li>Practice your RGB and HEX skills, choose between RGB and HEX mode, with three difficultues</li>
								
								<li>You might not need jQuery... This project was made by using only Vanilla JS</li>
								
                            </ul>
							
                            <div class="text-center mt-4">
								
                                <a href="#" class="btn btn-success px-5 mr-1">Link</a>
								
                                <a href="#" class="btn btn-warning px-3 ml-1"><i class="fab fa-github"></i></a>
								
                            </div>
							
                        </div> 
						
					</div>
					
				</div>
			
			</div>
		
		</section>
		
		
		<!-- SKILLS -->
		<section id="skills">
		
			<div class="container">
				
				<div class="row">
					
					<div class="col-12 text-center mb-5">
						
						<h5 class="d-none d-md-block text-center px-5 pt-5 display-4"> <span> [ </span> Skills <span> ] </span> </h5> 
						<h5 class="d-block d-md-none text-center px-5 pt-5"> <span>[ </span> Skills <span> ] </span> </h5>
						
					</div>
					
					<div class="container p-2 p-sm-5">
						
                		<div class="row pb-5">
							
							
							<!-- Frontend -->
                   			<div class="col-sm-6 col-lg-3 mb-5">
								 
                      			<div class="skill">
                            		
									<h2 class="text-center mb-4 pb-4">Frontend</h2>
										
									<ul>
										
										<li>HTML5</li>
										
										<li>CSS3</li>
										
										<li>Bootstrap</li>
										
										<li>Semantic UI</li>
										
										<li>JavaScript</li>
										
										<li>jQuery</li>
									
									 </ul>
									 
                        		</div>
								 
                    		</div>
							
							
							<!-- Backend -->
                    		<div class="col-sm-6 col-lg-3">
                      			
								<div class="skill">
                            
									<h2 class="text-center mb-4 pb-4">Backend</h2>
                            
									<ul>
        
										<li>NodeJS</li>
										
                                		<li>Express</li>
										
                                		<li>mongoDB</li>
                            		
									</ul>
                        
								</div>
								
                    		</div>
							
							
							<!-- Other -->
                    
							<div class="col-sm-6 col-lg-3">
                      		
								<div class="skill">

									<h2 class="text-center mb-4 pb-4">Other</h2>
                            
									<ul>
                                
										<li>Git</li>
                                
										<li>Heroku</li>
                                
										<li>APIs</li>
                                
										<li>Paper.js</li>
 
									</ul>
                        
								</div>
                    
							</div>
							
							
                    		<!-- Legal -->
							<div class="col-sm-6 col-lg-3">
                      
								<div class="skill">
                            
									<h2 class="text-center mb-4 pb-4">Legal</h2>
                            
									<ul>
                                
										<li>GDPR</li>
                                
										<li>ISO 27001</li>
                                
										<li>ePrivacy</li>
                                
										<li>NIS Directive</li>
								
										<li>EU Law</li>
								
										<li>Public procurement</li>
                            
									</ul>
                        
								</div>
                    
							</div>
                    
						</div>
            
					</div>
                  
				</div>
				
			</div>
		
		</section>
		
		
		<!-- About -->
		<section id="about">
		
			<div class="container-fluid container-lg">
				
				<div class="row">
					
					<div class="col-12 text-center py-5">
						
						<h5 class="d-none d-md-block text-center px-5 pt-5 display-4"> <span>&lt;&gt;</span> About <span>&lt;/&gt;</span> </h5> 
						<h5 class="d-block d-md-none text-center px-5 pt-5"> <span>&lt;&gt;</span> About <span>&lt;/&gt;</span> </h5>
							
					</div>
					
				</div>
				
				<div class="row p-5 text-justify">
					
					<!-- Short description -->
					<div class="col-md-6 pb-5 px-4">
						
						<p>
							Hi!
						</p>
						
						<p>
							My name is Ado! I am a lawyer, specialized in GDPR, who fell in love with programming. 
						</p>
						
						<p>
							This enables me to deeply understand <strong>GDPR</strong> and <em> applying data protection by desing and by default in the projects I work on</em>.
						</p>
						
						<p class="float-right">
							Read about it in more detail on the right! >>>
						</p>
						
					</div>
					
					<!-- detailed description -->
					<div class="col-md-6 pb-5">
						
						<div id="detailedAbout">
							
							<h6 class="mb-3 text-center"> Short Proffessinal Summary </h6>
						
							<p> 
								&nbsp; &nbsp; &nbsp; My background is in <strong> <em> Law </em> </strong> (LL.M.), and, after graduating with master thesis on the topic of <em>cybersecurity</em>, I have been extensivelly engaged in work regarding <em>personal data protection</em>, <em>information security</em>, and <em>cybersecurity</em>. This, among other, included working as the <strong>Data Protection Officer</strong>, chief lawyer for copliance with <strong>NIS Directive</strong>, and member of the <strong>ISMS</strong> Committee. While participating in the <em>Blue book traineeship</em> in the <strong>European Commission</strong>, I was part of the legal team in charge of negotiations with <strong>Microsoft</strong>, in regards to the Data Processing Agreement.
							<p>
						
							<p>
								This experience enables me to deeply understand <strong>GDPR</strong> and <em> data protection by desing and by default</em>.
							</p>
						
							<p>
								In 2020 I fell in love with <strong>programming</strong>, and decided to <em>professinally</em> develop in this area. I find it exceptionally fun, and time flies when I'm writing code. My current goals are: </p>
								
								<ol>
									<li>In depth understaning of vanilla JS</li>	
									<li>Advanced CSS</li>
									<li>Web design</li>
									<li>React</li>
									<li>Working as a fontend developer</li>	
								</ol>
						
							<p>
								With my prior professional successes, and the joy I get from coding, I have no doubt it is only matter of time before I succeed in this area.
							</p>
					
							<p>
								On a more personal side, I am open-minded, easy to get along with, and curious. I love to travel, meet people, and explore cultures.
							</p>
										
						</div>
						
					</div>
						
				</div>
				
			</div>
			
		</section>
		
		
		<!-- Values -->
		<section id="values">
		
			<div class="container-fluid">
				
				<div class="row pb-5">
					
					<div class="col-12 text-center pb-5">
						
						<h5 class="d-none d-md-block text-center px-5 pt-5 display-4"> <span> &amp;&amp; </span> Values <span> &amp;&amp; </span> </h5> 
						<h5 class="d-block d-md-none text-center px-5 pt-5"> <span> &amp;&amp; </span> Values <span> &amp;&amp; </span> </h5>
						
					</div>
					
					<div class="col-10 col-md-8 col-xl-6 m-auto">
						
						<h5 class="py-4"> <em> Principles that inspire my world...</em> </h5>
					
						<ul class="pb-4">

							<li>
								<span class="principle">Customer satisfaction</span>
								
								<p>
									<em> The project is about You, meeting Your needs and desires, not about me.  </em>
								</p>
								
							</li>
							
							<li>
								<span class="principle">Transparency</span>
								
								<p>
									<em>We communicate freely and honestly about expectations, price and required work, well in advance. </em>
								</p>
								
							</li>
							
							<li>
								<span class="principle">Continually Improving</span>
								
								<p>
									<em>I love programming because, among other things, it allows me to daily overcome challenges, and write better code with every project I undertake. I strive for progress.</em>
								</p>
								
							</li>
							
							<li>
								<span class="principle">Clean code</span>
								
								<p>
									<em>I love simplicity. If it works well and the code is easily read, it opens doors for teamwork cooperation on larger projects.</em>
								</p>
								
							</li>
							
							<li>
								<span class="principle">User friendly</span>
								
								<p>
									<em> If it doesn't look good, it doesn't feel right. When something doesn't feel right, no one uses it. </em>
								</p>
								
							</li>

						</ul>
						
					</div>

				</div>
				
			</div>
	
		</section>
	
	</main>
	
	
	
	<footer>
		
		<nav id="arrow" class="fixed-bottom m-2 d-none">
			
			<!-- back to the top arrow -->
			<a class=" btn btn-light mr-2" href="#"> <i class="fas fa-arrow-up"></i> </a>
			
		</nav>
	
		<nav class="navbar navbar-expand py-0 my-0 justify-content-center">
	
			<ul class="navbar-nav">    
            
				<li class="nav-item">
              	
					<a class="nav-link" href="#"> <i class="fab fa-github"></i></a>
            
				</li>
            
				<li class="nav-item">
              	
					<a class="nav-link" href="#"> <i class="fas fa-at"></i></a>
            
				</li>
            	
				<li class="nav-item">
              	
					<a class="nav-link" href="#"> <i class="fas fa-phone-square-alt"></i></a>
            	
				</li>
          	
			</ul>
			
		</nav>
	
	</footer>
	
	


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	<!-- My JS -->
	<script src="/js/js.js"></script>

</body>
</html>