html, body {
	width: auto!important; 
	overflow-x: hidden!important;
	height: 100%;
	scroll-behavior: smooth;
} 

body {
    margin: 0;
    padding: 0;
    background-image: url("/imgs/ado.jpg");
    background-repeat: no-repeat;
    background-position: center center;
   	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
	#projects, #skills, #about, #values {
    	border-radius: 0;
		border: 1px solid white;
	}
}
	/* 
@supports (-webkit-touch-callout: none)
   CSS specific to iOS devices  */
	

section:nth-of-type(1) {
	max-width: 890px;
	margin: 20px auto;
}

section:not(:first-child) {
    background-color: #ebf2ff;
    width: 95%;
    margin: auto;
    margin-bottom: 20%;
    border-radius: 1%;
	border: 1px solid white;
}

section h2 span {
    color: #bfbfbf;
    margin: 0 5px;	
}

footer nav ul li a {
    font-size: 2rem;
}

ol {
	padding-left: 5px;
	margin-left: 5px;
	text-align: left;
}

.btn-success {
	opacity: 0.9;
}

h2 {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.4),
                 0px 2px 6px rgba(0,0,0,0.1),
                 0px 4px 10px rgba(0,0,0,0.1);
}

h3 {
	font-family: 'Sedgwick Ave', cursive;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1),
                 1px 1px 0px rgba(0,0,0,0.1),
                 1px 1px 0px rgba(0,0,0,0.1);
}

.modal-open {
    overflow: auto;
}

.navBtn {
    width: 170px;
    background-color: white;
    border-radius: 2%;
 	padding: 1.2rem;
	font-family: 'Sedgwick Ave', cursive;
}

@media (max-width: 500px) {
	.navBtn {
		padding-top: 10px;
		padding-bottom: 0;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 5px;
		border-radius: 70%
	}
}

@media (min-width: 768px) {
	.navBtn {
    	width: 240px;
	}	
}

@media (min-width: 1600px) {
	.navBtn {
		height: 120px;
	}	
}


.project {
    border: 1px dotted black;
    padding: 30px;
}

.skill {
	padding: 25px;
	font-size: 1.2rem;
}

.skill h2 {
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
	font-family: 'Sedgwick Ave', cursive;
}

.text-green {
	color: green;
}

.principle {
	font-size: 1.2em;
}

.modal-content {
	background-color: rgba(33,37,41, 0.9);
}

.carousel-indicators li {
	color: #004494 !important;
	background-color: blue !important;
}

.carousel-item {
	max-height: 400px; 
	overflow-y: auto;
	padding-right: 10px;
	
}

.carousel-item p {
	line-height: 170%;
	font-size: 1.2rem;
}


/* :::::::::::  FONTS  :::::::::::::: */
.typeOfProject{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.elegantFont {
	font-family: 'Calligraffitti', cursive;
}

.markerFont {
	font-family: 'Sedgwick Ave', cursive;
}
/* ====================================== */


#title {
		text-shadow:
   -0.8px -0.8px 0 gray,  
    0.8px -0.8px 0 gray,
    -0.8px 0.8px 0 gray,
     0.8px 0.8px 0 gray;
}

#title h3 {
			text-shadow:
   -0.8px -0.8px 0 black,  
    0.8px -0.8px 0 black,
    -0.8px 0.8px 0 black,
     0.8px 0.8px 0 black;
}

#home {
	margin-bottom: 20%;
}


@media (max-width: 776px) {
	#projects {
		margin-top: 50%;
	}
}



#projectsBtn:hover {
    background-color: #fff99e;
}

#skillsBtn:hover {
    background-color: #dcffcc;
}

#aboutBtn:hover {
    background-color: #e6e9ff;
}

#valuesBtn:hover {
    background-color: #d9f6ff;
}

#shortAbout {
	font-style: italic;
	font-size: 1.8rem;
	letter-spacing: 3px;
	line-height: 190%;
	font-family: 'Sedgwick Ave', cursive;
}

#values h3 {
	line-height: 140%;
}

#values {
	line-height: 180%;
}

#values ul {
	padding-left: 5px;
}

#valuesList {
	list-style-type: none;
	margin-left: 10px;	
}

#carouselExampleIndicators {
	height:500px; 
	padding: 20px;
	line-height: 160%;
}

#carouselArrows {
	height: 10px;
	font-size: 2rem;
}

#gitIcon {
	color: #c48629;	
}

#gitIcon:hover {
	color: #995f08;
}

#whatsappIcon {
	font-weight: 800; 
	font-size: 2.1rem;
}

#arrow {
	width: 50px;
}

@media (max-width: 550px) {
	#projects, #skills, #about, #values {
    	border-radius: 0;
		border: 1px solid white;
	}
	#projects {
		margin-top: 35%;
	}
	#projects ul {
		text-align: left !important;
	}
	#shortAbout {
		font-size: 1.3rem;
		letter-spacing: 1px;
		line-height: 170%;
	}
}