body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/imgs/ado.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/*
 :::::::::: FONTS ::::::::::::
font-family: 'Calligraffitti', cursive;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Sedgwick Ave Display', cursive;

ovo za short about::::	font-family: 'Sedgwick Ave Display', cursive;

*/

section:nth-of-type(1) {
	max-width: 890px;
	margin: 20px auto;
}

section:not(:first-child) {
    background: #ebf2ff;
    width: 95%;
    margin: auto;
    margin-bottom: 20%;
    border-radius: 1%;
}

section h5 span {
    color: #bfbfbf;
    margin: 0 5px;
	
}

footer nav ul li a {
    color: #007bff;
    font-size: 2rem;
}

footer nav ul li a:hover {
    color: red;
}

.navBtn {
    width: 170px;
    background-color: white;
    border-radius: 2%;
    padding: 1.25rem;
}

@media (min-width: 768px) {
	.navBtn {
    	width: 240px;
	}	
}

@media (min-width: 1600px) {
	.navBtn {
		height: 130px;
	}	
}

.project {
    border: 1px dotted black;
    padding: 30px;
}

.skill {
	padding: 30px;
}

.skill h2 {
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
}

.principle {
	font-size: 1.2em;
	letter-spacing: 1.4px;
}



#home {
	margin-bottom: 20%;
}

#projectsBtn:hover {
    background-color: #fff99e;
}

#skillsBtn:hover {
    background-color: #dcffcc;
}

#aboutBtn:hover {
    background-color: #e6e9ff;
}

#valuesBtn:hover {
    background-color: #d9f6ff;
}

#detailedAbout {
	overflow-y: scroll; 
	height: 400px; 
	padding: 20px;
	line-height: 160%;
}

#arrow {
	width: 50px;
}